/*
    1. Posicionamiento
    2. Modelo de caja
    3. Tipografía
    4. Visuales
    5. Otros (Misceleanos)
*/
:root {
    /* Variables colores y tamaño de fuentes*/
    --blue-sky: #ccefff;
    --mouth-gray: #C0C0C0;
    --land-sand: #A13100;
    --land-shadow-sand: #732300;
    --land-grass: #1E7100;
    --gold-bold: #8B661E;
    --blue-cloud: #81E9FF;
    --eye-ccolor: #077378;
}
@font-face {
    font-family: 'Alice_in_Wonderland_3';
    src: url('/assets/fonts/Alice_in_Wonderland_3.ttf');
    font-style: normal;
    font-weight: normal;
}
/* Valores iniciales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
/* Fin Valores iniciales */
body {
    font-size: 1.4rem;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background-image: radial-gradient(circle, #313132, #272727, #1d1d1d, #131313, #040404);
    counter-reset: game;
}
.mainTitle {
    border-radius: 3px;
    background-image: radial-gradient(circle, #eabe3f, #dfb139, #d4a534, #c9982e, #be8c29);
    color: var(--land-shadow-sand);
    text-align: center;
    margin-top: 30px;
    font-family: 'Alice_in_Wonderland_3';
    font-size: 3rem;
    font-weight: bold;
}
.total-count {
    margin-top: 5px;
    text-align: center;
    font-family: 'Alice_in_Wonderland_3';
    font-size: 3rem;
    font-weight: normal;
}

.phone {
    position: relative;
    border: 8px solid black;
    border-radius: 20px;
    height: 700px;
    width: 350px;
    background-color: var(--blue-sky);
    box-shadow: 0px 19px 38px rgba(186, 239, 241, 0.3), 0px 15px 12px rgba(157, 245, 239, 0.22);
    overflow: hidden;
}
.layer-1 {
    position: absolute;
    z-index: 1;
    height: 500px;
    width: 80px;
    bottom: 0;
    right: 60px;
    /* Animación */
    animation-name: bunny;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

input[type=checkbox] {
    position: absolute;
    appearance: none;
    cursor: pointer;
    z-index: 1;
    width: 100%;
    height: 100%;
}
input:checked {
    counter-increment: game;
}
.total-count::after {
    content: counter(game);
}

.head {
    position: relative;
    width: 80px;
    height: 75px;
    border-radius: 50%;
    background: white;
}
.leftEye {
    position: absolute;
    width: 10px;
    height: 12px;
    border-radius: 50%;
    background: var(--eye-ccolor);
    top: 20px;
    left: 20px;
    /* Animaciones */
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.rightEye {
    position: absolute;
    width: 10px;
    height: 12px;
    border-radius: 50%;
    background: var(--eye-ccolor);
    top: 20px;
    right: 20px;

    /* Animaciones */
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes blink {
    0% {
        height: 12px;
    }
    5% {
        transform: translate(0px, 6px);
        height: 2px;
    }
    10% {
        transform: translate(0px, 0px);
        height: 12px;
    }
}

.nose {
    position: absolute;
    width: 15px;
    height: 10px;
    border-radius: 50% 50% 50px 50px;
    background-color: pink;
    left: calc(50% - 8px);
    top: 50%;
    
}
.mouth {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid var(--mouth-gray);
    border-top: none;
    border-left: none;
    left: calc(50% - 15px);
    top: calc(52%);
}
.mouth1 {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid var(--mouth-gray);
    border-top: none;
    border-left: none;
    transform: rotate(85deg);
    left: 49%;
    top: 52%;
}
.leftEar {
    position: absolute;
    width: 20px;
    height: 50px;
    background: white;
    border-radius: 45%;
    top: -30px;
    transform: rotate(-10deg);
}
.leftEarIn {
    position: absolute;
    width: 10px;
    height: 30px;
    background: pink;
    border-radius: 45%;
    top: -22px;
    left: 5px;
    transform: rotate(-10deg);
}
.rightEar {
    position: absolute;
    width: 20px;
    height: 50px;
    background: white;
    border-radius: 45%;
    top: -30px;
    right: 0;
    transform: rotate(10deg);
}
.rightEarIn {
    position: absolute;
    width: 10px;
    height: 30px;
    background: pink;
    border-radius: 45%;
    top: -22px;
    right: 5px;
    transform: rotate(10deg);
}
.layer-2 {
    position: absolute;
    z-index: 2;
    height: 500px;
    width: 80px;
    bottom: 0;
    left: 60px;
    /* Animación */
    animation-name: bunny;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.layer-3 {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 220px;
    height: 450px;
    background: var(--land-sand);
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    box-shadow: 3px 2px 20px black;
}
.grass {
    position: absolute;
    width: 100%;
    height: 5%;
    background: var(--land-grass);
}
.grassCube { 
    position: absolute;
    width: 40px;
    height: 40px;
    background: var(--land-grass);
    transform: rotate(45deg);
}
.Scube {
    /* top: 50px;  */
    background: var(--land-shadow-sand);
}
.one {
    left: 40px; 
}
.two {
    left: 80px; 
}
.three {
    left: 120px; 
}
.four {
    left: 160px; 
}
.five {
    left: 200px; 
}
.Scube {
    top: 10px; 
    background: var(--land-shadow-sand);
}
.Scube {
    top: 10px; 
    background: var(--land-shadow-sand);
}
.Scube {
    top: 10px; 
    background: var(--land-shadow-sand);
}

.Cube1 { 
    left: 40px;
    background: var(--land-grass);
}
.Cube2 { 
    left: 80px;
    background: var(--land-grass);
}
.Cube3 { 
    left: 120px;
    background: var(--land-grass);
}
.Cube4 { 
    left: 160px;
    background: var(--land-grass);
}
.Cube5 { 
    left: 200px;
    background: var(--land-grass);
}
.layer-4 {
    position: absolute;
    z-index: 4;
    height: 375px;
    width: 80px;
    bottom: 0;
    left: 60px;
    /* Animación */
    animation-name: bunny;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.layer-5 {
    position: absolute;
    z-index: 5;
    left: 0;
    bottom: 0;
    width: 220px;
    height: 325px;
    background: var(--land-sand);
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    box-shadow: 3px 0px 20px black;
}
.layer-6 {
    position: absolute;
    z-index: 6;
    height: 250px;
    width: 80px;
    bottom: 0;
    right: 60px;
    /* Animación */
    animation-name: bunny;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.layer-7 {
    position: absolute;
    z-index: 7;
    right: 0;
    bottom: 0;
    width: 220px;
    height: 200px;
    background: var(--land-sand);
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    box-shadow: -3px 0px 20px black;
}
.layer-8 {
    position: absolute;
    z-index: 8;
    width: 200px;
    height: 75px;
    bottom: 0px;
    left: calc(50% - 100px);
    background-color: var(--land-grass);
    border-radius: 50%;
}
.floorGrass, .floorGrassLeft, .floorGrassRight {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--land-grass);
}
.floorGrass{
    left: 0;
    right: 0;
    margin: -50px auto;
}
.floorGrassLeft {
    left: -10px;
}
.floorGrassRight {
    right: -10px;
}
.layer-9 {
    position: absolute;
    z-index: 9;
    width: 200px;
    height: 120px;
    bottom: -70px;
    left: -50px;
    border-radius: 50%;
}
.floorCloud, .floorCloudLeft, .floorCloudRight {
    border: 10px solid var(--blue-cloud);
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: white;
    animation-name: clouds;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes clouds {
    0% {
        transform: translate(0px);
    }
    50% {
        transform: translate(15px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
.floorCloud{
    left: 0;
    right: 0;
    margin: -40px auto;
}
.floorCloudLeft {
    left: 17px;
}
.floorCloudRight {
    right: 17px;
}
.layer-10 {
    position: absolute;
    z-index: 10;
    width: 200px;
    height: 120px;
    bottom: -70px;
    right: -50px;
    border-radius: 50%;
}
@keyframes bunny {
    0% {
        bottom: 0;
    }
    25% {
        bottom: -60px;
    }
    100% {
        bottom: 10px;

    }
}